<launch>
    <param name="model_file" value="$(find unet)/UNet_s3-14-15-46_epoch30_vbaselar_loss0.037.pth"/>
    <include file="$(find video)/launch/video.launch"/>
    <node name="unet_inference_node" 
          pkg="unet"
          type="inference_node.py"
          required="true"
          output="screen"/>
    <node name="rqt" 
          pkg="rqt_image_view"
          type="rqt_image_view"
          required="true"/>
</launch>
